@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    font-size:16pt;
}

*::selection {
    background-color: #66D23C7F;
}

body {
    margin: 0px;
}
.header {
    position: fixed;
    z-index: 1;
    background-color: #ffffff00;
    color: #fff;
    top: 0;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0 2px 3px #0000007f);
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}
.header .container {
    width: 80%;
    margin: 0 auto;
}
.header .container .nav-left {
    float:left;
    padding: 24px 0;
    font-weight: 900;
}
.header .container .nav-right {
    float:right;
    padding: 24px 0;
}
.header .container .nav-right a {
    margin-left: 32px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.header .container .nav-right a:hover {
    color: #66D23C;
}
.scrolled {
    background-color: #ffffffff;
    color: #000;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}
.video-bg {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.video-bg video { 
    display: inline-block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.video-bg:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 2px;
}
.button1 {
    margin-right: 16px;
    background-color: #66D23C;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
}
.button1:hover {
    background-color: #489c26;
}
.button2 {
    background-color: #ff5e00;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
}
.button2:hover {
    background-color: #be4f0f;
}

.section1 {
    position: absolute;
    top: 60%;
    margin-left: 10%;
    transform: translateY(-50%);
    width: 512px;
}
.section1 #eg-logo {
    margin-left: -16px;
    width: 120%;
}
.section1 #eg-oneliner {
    margin-top: 0;
    color: white;
    filter: drop-shadow(2px 2px 0 #000);
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 12pt;
    }
    .header {
        background-color: #ffffffff;
        color: #000;
        font-size: 16pt;
    }
    .header .container .nav-left {
        padding: 16px;
        text-align: center;
    }
    .header .container .nav-right {
        display: none !important;
    }
    .video-bg {
        width: 100vw;
    }
    .button1 {
        display: none !important;
    }
    .section1 {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        width: initial;
        margin: 16pt;
        text-align: center;
    }
    .section1 #eg-logo {
        margin-left: 0;
        width: 80%;
    }
}