@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('./system-color-scheme.css');

:root {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    font-size:16pt;
}

*::selection {
    background-color: rgba(var(--fg-color-pri-1), 0.5);
}

body {
    background-color: rgb(var(--bg-color-pri));
    color: rgb(var(--txt-color-pri));
    margin: 0px;
}

p {
    margin: 0;
}

.desktop-view { display: block; }
.mobile-view { display: none; }

header {
    position: fixed;
    z-index: 1;
    background-color: rgb(var(--bg-color-pri));
    color: rgb(var(--txt-color-pri));
    top: 0;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0 2px 3px #0000007f);
}
header .container {
    width: 80%;
    margin: 0 auto;
}
header .container .nav-left {
    float:left;
    padding: 24px 0;
    font-weight: 900;
}
header .container .nav-left a {
    text-decoration: none;
    color: inherit;
}
header .container .nav-right {
    float:right;
    padding: 24px 0;
}
header .container .nav-right a {
    margin-left: 32px;
    color: inherit;
    transition: color 0.3s ease;
}
header .container .nav-right a:hover {
    color: rgb(var(--fg-color-pri-1));
}
a {
    color: rgb(var(--fg-color-pri-1));
    transition: color 0.3s ease;
    text-decoration: none;
}
a:hover {
    color: rgb(var(--fg-color-sec-1));
}
.nav-left .fa-bars {
    display:none;
}
.header-home {
    background-color: #00000000;
    color: #fff;
}

footer {
    background-color: rgb(var(--bg-color-sec));
    color: rgb(var(--txt-color-pri));
    font-size: 12pt;
    width: 100%;
    padding: 32pt 0;
    margin-top: 16pt;
    position: relative;
}
.table { display: table; width: 100%; }
.table-row { display: table-row; width: 100%; }
.table-cell { display: table-cell; width: 1pt; padding: 0 16pt; }

.mobile-menu {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    width: 92%;
    margin: auto;
    padding: 8px;
    background-color: rgb(var(--bg-color-pri));
    border: 1px solid rgb(var(--bg-color-sec));
    text-align: center;
    filter: drop-shadow(0 2px 4px #0000007f);
    border-radius: 8px;
    display: none;
    z-index: 1;
}
.show {
    display: block;
}
.mobile-menu .mobile-menu-select {
    color: rgb(var(--txt-color-pri));
    width: 100%;
    padding: 16px 0;
    border-radius: 4px;
    margin: 4px 0;
    background-color: rgba(var(--fg-color-pri-1), 0.1);
}

.video-bg {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.video-bg video { 
    display: inline-block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.video-bg:before {
    content: '';
    position: absolute;
    background-color: rgba(var(--bg-color-pri), 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.body-content {
    width: 80%;
    margin: 0 auto;
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.button1 {
    background-color: #66D23C;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
}
.button1:hover {
    background-color: #489c26;
}
.button2 {
    background-color: #ff5e00;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
}
.button2:hover {
    background-color: #be4f0f;
}

.section1 {
    position: absolute;
    top: 60%;
    margin-left: 10%;
    transform: translateY(-50%);
    width: 512px;
}
.section1 #eg-logo {
    margin-left: -16px;
    width: 120%;
}
.section1 #eg-oneliner {
    margin-top: 0;
    color: white;
    filter: drop-shadow(2px 2px 0 #000);
}

.section2 {
    position: relative;
    background: url('../resources/use_light.png') center no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 400pt;
}
.section2::before {
    content: '';
    position: absolute;
    background-color: rgba(var(--bg-color-pri), 0.3);
    height: 400pt;
    top: 0; bottom: 0; left: 0; right: 0;
}
.section2 .bg-content {
    color: white;
    filter: drop-shadow(0 2px 2px black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    margin: auto;
}
.wiki {
    display: flex;
    padding: 16px;
}
.wiki-pages {
    flex: 1;
    width: 20%;
    height: 100%;
}
.wiki-pages ul li {
    padding: 8px 0;
}
.wiki-body {
    flex: 3;
    padding: 32px;
    background-color: rgb(var(--bg-color-sec));
    border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 6px #0000007f;
}

@media (prefers-color-scheme: dark) {
    .section2 {
        background: url('../resources/use_dark.png') center no-repeat;
        background-size: cover;
    }
    .wiki-body {
        border: 1px solid #3B434C;
    }
}

@media screen and (max-width: 810px) {
    :root {
        font-size: 12pt;
    }

    .desktop-view { display: none; }
    .mobile-view { display: block; }

    header {
        font-size: 16pt;
    }
    header .container .nav-left {
        padding: 16px;
        text-align: center;
    }
    header .container .nav-right {
        display: none !important;
    }

    .table, .table-row { display: block; }
    .table-cell { display: inline-block; width: initial; padding: 16pt 0; }

    .nav-left .fa-bars {
        display:initial;
        margin-left: -32px;
        margin-right: 16px;
    }
    .video-bg {
        width: 100vw;
    }
    .section1 {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        width: initial;
        margin: 16pt;
        text-align: center;
    }
    .section1 #eg-logo {
        margin-left: 0;
        width: 80%;
    }
    .section2 {
        height: 200pt;
    }
    .section2::before {
        height: 200pt;
    }

    .body-content {
        width: 90%;
    }

    .wiki {
        display: block;
        padding: initial;
    }
    .wiki-pages {
        padding: 16px;
        background-color: rgb(var(--bg-color-sec));
        border: 1px solid #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px #0000007f;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 32px;
        color: rgb(var(--txt-color-pri));
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: normal;
        font-size:10pt;
    }

    .wiki-body {
        flex: initial;
        padding: 0px;
        background-color: initial;
        border: 0;
        border-radius: 0;
        box-shadow: initial;
    }

    @media (prefers-color-scheme: dark) {
        .wiki-pages {
            border: 1px solid #3B434C;
        }
    }
}