.fade-in {
    animation: fade-in 0.5s ease-in-out both;
}
.slide-in-up {
	animation: slide-in-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}
.menu-open {
    animation: menu-open 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.menu-close {
    animation: menu-close 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slide-in-up {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(-50%); opacity: 1; }
}
@keyframes menu-open {
    0% { transform: translateX(-100vw); display: block !important; }
    100% { transform: translateX(0); }
}
@keyframes menu-close {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100vw); display: none !important; }
}